body {
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }


  
/* CSS */
.button-snapshot {
background-color: #fbeee0;
border: 2px solid #422800;
border-radius: 30px;
box-shadow: #422800 4px 4px 0 0;
color: #422800;
cursor: pointer;
display: inline-block;
font-weight: 600;
font-size: 18px;
padding: 0 18px;
line-height: 50px;
text-align: center;
text-decoration: none;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}

.button-snapshot:hover {
background-color: #fff;
}

.button-snapshot:active {
box-shadow: #422800 2px 2px 0 0;
transform: translate(2px, 2px);
}

@media (min-width: 768px) {
.button-snapshot {
    min-width: 120px;
    padding: 0 25px;
}
}


  
.screenshot-image {
    max-width: 100%;
    max-height: 100%;
    width: auto; /* Adjusts the width while maintaining aspect ratio */
    height: auto; /* Adjusts the height while maintaining aspect ratio */
    display: block; /* Ensures the image is block-level for proper scaling */
    object-fit: contain; /* Ensures the image is scaled properly without distortion */
}


#audioPlayer {
    width: 100%;
  }


#loadingIndicator {
    position: fixed; /* 或 absolute */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8); /* 半透明背景 */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* 确保它位于页面的最上层 */
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#stopSpeechBtn {
    margin: 10px;
    display: block; /* Matches other buttons' style */
    background-color: #f44336; /* Example styling, can be adjusted */
    color: white; /* For contrast */
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}

#stopSpeechBtn:hover {
    background-color: #d32f2f; /* Darker shade for hover effect */
}
